<footer>
    <div class="footer-container">

        <nav class="footer-nav" aria-label="Footer Navigation">
            <ul>
                <li><a href="/index">Home</a></li>
            </ul>
        </nav>

        <!-- External Links -->
    <div class="footer-links">
        <h1>Follow us on:</h1>
        <a class="icon-with-text" href="https://www.instagram.com/clubhousecommonsvt/" target="_blank" rel="noopener noreferrer">Instagram<img src="images/Instagram_Glyph_Gradient.png" height="32px" width="32px"></a>
        <a href="https://frontporchforum.com/d/clubhouse-commons" target="_blank" rel="noopener noreferrer">FPF<img src="images/fpfbirds1.png" height="32px" width="64px"></a>
        <a href="https://www.gofundme.com/f/support-youth-through-the-startup-of-clubhouse-common?lang=en_US&utm_id=97760_v0_s00_e0_tv3" target="_blank" rel="noopener noreferrer">GoFundMe<img src="images/gfmlogo.png" height="32px" width="32px"></a>
    </div>

    </div>
</footer>