<div class="footer-container">

    <nav class="footer-nav" aria-label="Footer Navigation">
        <ul>
            <li><a href="/index">Home</a></li>
        </ul>
    </nav>

        <!-- External Links -->
    <div class="footer-links">
        <a href="https://www.instagram.com/clubhousecommonsvt/" target="_blank" rel="noopener noreferrer">Instagram</a>
        <a href="https://frontporchforum.com/d/clubhouse-commons" target="_blank" rel="noopener noreferrer">FPF</a>
        <a href="https://www.gofundme.com/f/support-youth-through-the-startup-of-clubhouse-common?lang=en_US&utm_id=97760_v0_s00_e0_tv3" target="_blank" rel="noopener noreferrer">gofundme</a>
    </div>

</div>