<footer>
    <div class="footer-container">

        <nav class="footer-nav" aria-label="Footer Navigation">
            <ul>
                <li><a href="/">Home</a></li>
            </ul>
        </nav>

            <!-- External Links -->
        <div class="footer-links">
            <h1>Follow us on:</h1>
        <figure>
            <a href="https://www.instagram.com/clubhousecommonsvt/" target="_blank" rel="noopener noreferrer"><img src="images/Instagram_Glyph_Gradient.png" height="32px" width="32px"></a>
            <figcaption>Instagram</figcaption>
        </figure>
        <figure>
            <a href="https://frontporchforum.com/d/clubhouse-commons" target="_blank" rel="noopener noreferrer"><img src="images/fpfbirds1.png" height="32px" width="64px"></a>
            <figcaption>FPF</figcaption>
        </figure>
        <figure>
            <a href="https://www.gofundme.com/f/support-youth-through-the-startup-of-clubhouse-common?lang=en_US&utm_id=97760_v0_s00_e0_tv3" target="_blank" rel="noopener noreferrer"><img src="images/gfmlogo.png" height="32px" width="32px"></a>
            <figcaption>GoFundMe</figcaption>
        </figure>
        <!-- TODO: Update with cool name -->
        <p> &copy 2026 Marlow and Abby (until better name)</p>
    </div>
</footer>