<header>
    <!-- Logo -->
    <div class="header-art">
        <ul>
            <li class="star star-off">
                <img src="/images/Stars/Star4.png" width="334" height="377" alt="<3"/>
            </li>
            <li class="star">
                <img src="/images/Stars/Star2.png" width="223" height="285" alt="<3"/>
            </li>
            <li class="star">
                <img src="/images/Stars/Star3.png" width="178" height="186" alt="<3"/>
            </li>
            <li class="logo">
                <a href="/">
                    <img src="/images/ClubHouseCommonsLogo.png" width="434" height="403" alt="Clubhouse Commons"/>
                </a>
            </li>
            <li class="star">
                <img src="/images/Stars/Star3.png" width="178" height="186" alt="<3"/>
            </li>
            <li class="star">
                <img src="/images/Stars/Star2.png" width="223" height="285" alt="<3"/>
            </li>
            <li class="star star-off">
                <img src="/images/Stars/Star4.png" width="334" height="377" alt="<3"/>
            </li>
        </ul>
    </div>

    <body style="background-color: #a5b2fe";></body>

    <!-- Navigation 
    TODO: Include other necessary pages
    -->
    <div class="main-nav">
        <ul>
            <li class="selected">
                <a href="/">Home</a>
            </li>
            <li class="selected">
                <a href="/">About CHC</a>
            </li>
            <li class="selected">
                <a href="/">Featured Artists</a>
            </li>
            <li class="selected">
                <a href="/">Events and Community</a>
            </li>
        </ul>
    </div>
</header>