<header>
    <!-- Logo -->
    <div class="header-art">
        <ul>
            <li class="star">
                <a href="/">
                    <img src="/images/Stars/star4.png" alt="<3"/>
                </a>
            </li>
            <li class="star">
                <a href="/">
                    <img src="/images/Stars/star2.png" alt="<3"/>
                </a>
            </li>
            <li class="star">
                <a href="/">
                    <img src="/images/Stars/star3.png" alt="<3"/>
                </a>
            </li>
            <li class="logo">
                <a href="/">
                    <img src="/images/ClubHouseCommonsLogo.png" alt="Clubhouse Commons"/>
                </a>
            </li>
            <li class="star">
                <a href="/">
                    <img src="/images/Stars/star3.png" alt="<3"/>
                </a>
            </li>
            <li class="star">
                <a href="/">
                    <img src="/images/Stars/star2.png" alt="<3"/>
                </a>
            </li>
            <li class="star">
                <a href="/">
                    <img src="/images/Stars/star4.png" alt="<3"/>
                </a>
            </li>
        </ul>
    </div>

    <body style="background-color: #a5b2fe";></body>

    <!-- Navigation 
    TODO: Include other necessary pages
    -->
    <div class="main-nav">
        <ul>
            <li class="selected">
                <a href="/index">Home</a>
            </li>
            <li class="selected">
                <a href="/index">Page</a>
            </li>
            <li class="selected">
                <a href="/index">Page</a>
            </li>
            <li class="selected">
                <a href="/index">Page</a>
            </li>
        </ul>
    </div>
</header>