<!-- Logo -->
<div class="logo">
    <a href="/">
        <img src="images/ClubHouseCommonsLogo.png" />
    </a>
</div>

<body style="background-color: #a5b2fe";></body>

<!-- Navigation 
TODO: Include other necessary pages
-->
<div class="main-nav">
    <ul>
        <li class="selected">
            <a href="/index">Home</a>
        </li>
    </ul>
</div>