<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <h1>Hello, welcome to Clubhouse Commons!</h1>
        <div class="main-page">
            <div class="box" style="grid-area: box1">
                <img class="center-image img-responsive main-img" src="images/chcTeam.png" alt="Clubhouse Commons Founding Members" height="800" width="675">
            </div>
            <div class="box" style="grid-area: box2; text-align: center;">
                <p class="text-style-main-headers">Who We Are</p>
                <hr>
                <p class="text-style-main">Clubhouse Commons is a youth-for-youth experiential learning, expressive arts, and community center serving young people in the greater Central Vermont area.</p>
                <p class="text-style-main">Clubhouse will provide young people with a vibrant, bustling, social hub that genuinely belongs to them. We plan to regularly stage youth bands, host fun community events (like movie and game nights!), and run experiential learning workshops led by passionate young mentors, which will aim to embolden young people to pursue self-inquiry and participate in profound, mutually beneficial civic engagement. The spaces that do exist for young people often sit stagnant, underfunded, understaffed and undersupported. Through quality programming, intentionally chosen space, and accessibility to the greater community Clubhouse Commons will be perpetually alive.</p>            
            </div>
            <div class="box" style="grid-area: box3; text-align: center;">
                <p class="text-style-main-headers">Support Our Mission</p>
                <hr>
                <p class="text-style-main">We are actively pursuing 4 Langdon St in downtown Montpelier, VT as the location for Clubhouse Commons. To bring this project to fruition we must prove that we have the money to maintain eight months of operations before we can sign the lease. We predict that we will need $50,000 to do so. We must present this money by July 1st.</p> 
                <p class="text-style-main">If you are interested in seeing our project flourish, make a donation at our GoFundMe campaign listed below, or reach out to us directly to make a tax-deductible donation.</p>
            </div>
        </div>
    </body>
</html>