<!DOCTYPE html>
<html>
    <head>
        <body>
            <h1 style="color: #b5d8ff;">Hello, welcome to Clubhouse Commons!</h1>
            <h2 style="color: #b5d8ff; text-align:center;">Our website is almost ready. Come back soon to learn more and visit us at the socials listed below!</h2>
            <div class="main-page">
            <div class="box" style="grid-area: box1">
                <img class="center-image img-responsive main-img" src="images/chcTeam.png" alt="Clubhouse Commons Founding Members" height="800" width="675">
            </div>
        </body>
    </head>
</html>